extends layout

block content
	img#logo(src="images/logo.png", style="display:none")

	.crossfade
		each image, index in data.images
			figure(style='background-image: url(https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_1920/v10000/'+image.public_id+'); animation-delay: '+(6*index)+'s;')
			|   

	#chyron
		canvas#content(height=90)

	script.
		var canvas, ctx, img, totalTxtWidth, step, steps = 0, delay = 2;
		
		var txt = !{data.chyron};
		var itemTxtWidth = [];

		
		function init() {

		  var socket = io();
		  // Refresh when new data posted
			socket.on('refresh', function(msg){
				window.location.reload(1);
			});
	
			canvas = document.getElementById("content");
			canvas.width = window.innerWidth;

			ctx = canvas.getContext("2d");
			ctx.fillStyle = "white";
			ctx.font = "20pt Work Sans";
			ctx.textBaseline = "middle";
			  
			img = document.getElementById("logo");
			totalTxtWidth = ctx.measureText(txt.join(' ')).width;
			
			for(var i in txt)
				itemTxtWidth.push(ctx.measureText(txt[i]).width)

			step = canvas.width;
			steps = 0;

			runText();
		
		}

		function getTxtPos(index) {
		
			var length = 0;
			for(var i = 0; i < index; i++)
				length += itemTxtWidth[i]+100;

			return length;
		
		}

		function runText() {
		
			step--;
			
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			ctx.save();
			ctx.translate(step, 0);
			
			for(var i in txt) {
				
				ctx.fillText(txt[i], getTxtPos(i), canvas.height / 2);
				
				if(i < txt.length-1) {
					i++;
					ctx.drawImage(img, getTxtPos(i)-75, (canvas.height / 4)-4);
				}

			}

			ctx.restore();

			if (step <= -(totalTxtWidth+(itemTxtWidth.length*100)))
			    step = canvas.width;
			if (step > -(totalTxtWidth+(itemTxtWidth.length*100)))
			    setTimeout('runText()', delay);
		
		}

		window.onload = function() { init(); };