doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Work+Sans')
  body
    block content
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.3.1/Tween.js', type='module')