extends layout

block content
	.crossfade
		each image, index in data.images
			figure(style='background-image: url('+image.secure_url+'); animation-delay: '+(6*index)+'s;')
			|   

	#chyron
		#content
			each item, index in data.chyron
				span.item	#{item} 
					if index < Object.keys(data.chyron).length - 1
						img(src="images/logo.png")