body {
	background: black;
	overflow: hidden;
	font-family: 'Work Sans', sans-serif;
}

.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  margin: 0;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video {
	padding: 56.25% 0 0 0;
	position: relative;
}

#chyron {
  position: absolute;
  display: inline-block;
  z-index: 20;
  bottom: 0;
  height: 12%;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  background-color: rgba(0, 0, 0, .3);
  color: white;
	
	overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
}

#content {
	position: relative;
	display: inline-block;
}

.item {
	display: inline-flex;
  align-items: center;
	margin-right: 1%;	
}
.item > img {
	min-width: 52px;
	padding-left: 30px;
}

/* Move it (define the animation) */
@keyframes marquee {
	0%   { 
		transform: translateX(0);
	}
	100% { 
		transform: translateX(-100%);

	}
}

@keyframes imageAnimation {  
	0% {
	 animation-timing-function: ease-in;
	 opacity: 0;
	}
	8% {
	 animation-timing-function: ease-out;
	 opacity: 1;
	}
	17% {
	 opacity: 1
	}
	25% {
		opacity: 0
	}
	100% {
		opacity: 0
	}
}